name: TEST-ENV

on:
  push:
    branches:
      - '*'
      - '!main'
      - '!stage'

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Check Label Exist
        run:
          echo "DEBUG"
          echo $github.event.label.name